*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "fira sans", sans-serif;
}

body {
    background-color: linear-gradient(to bottom right, #c4c4c4, rgb(70, 70, 70));
}

.app-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.player {
    background-color: #101010;
    padding: 100px 50px;
    width: 414px;
    max-width: 100%;
    border-radius: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0 ,0, 0.2)
}

.song-img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 300px;
    background-color: #FE4880;
    border-radius: 2%;
    box-shadow: 0px 2px 20px rgba(243, 243, 235, 0.6);
    margin-bottom: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.song-img::after {
    content: '';
    padding-top: 100%;
    display: block;
}


.song-details h2 {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px;
    color: #888;
}

.song-details h3 {
    font-size: 16px;
    font-weight: 500;
    color: #888;
}

#song-title {
    color: white;
}

#song-artist{
    color: #888;
}

.skip-btn{
    background-color: #101010;
    color: white;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.player-controls .play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #f4f84d;
    color: #101010;
    margin: 0 30px;
    border: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
}

.player-controls .skin-btn {
    background-color: none;
    border: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    color: #ccc;
}

.player-controls .play:hover {
    box-shadow: 0px 2px 20px rgba(243, 243, 235, 0.6);
}

.next-up p {
    color: #888;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}

.next-up p span {
    font-weight: 400;
    font-style: italic;
}

@media (max-width: 414px) {
    .player{
        min-height: 100vh;
        border-radius: 0px;
        padding: 75px 30px;
    }
}